.cc-window {
	opacity: 1;
	transition: opacity 1s ease
}
.cc-window.cc-invisible {
	opacity: 0
}
.cc-animate.cc-revoke {
	transition: transform 1s ease
}
.cc-animate.cc-revoke.cc-top {
	transform: translateY(-2em)
}
