.wp-block-audio figcaption {
	margin-top: .5em;
	margin-bottom: 1em
}
.wp-block-audio audio {
	width: 100%;
	min-width: 300px
}
.wp-block-button {
	color: #fff
}
.wp-block-button.aligncenter {
	text-align: center
}
.wp-block-button.alignright {
	text-align: right
}
.wp-block-button__link {
	background-color: #32373c;
	border: none;
	border-radius: 28px;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	margin: 0;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	overflow-wrap: break-word
}
.wp-block-button__link:active, .wp-block-button__link:focus, .wp-block-button__link:hover, .wp-block-button__link:visited {
	color: inherit
}
.is-style-squared .wp-block-button__link {
	border-radius: 0
}
.no-border-radius.wp-block-button__link {
	border-radius: 0!important
}
.is-style-outline {
	color: #32373c
}
.is-style-outline .wp-block-button__link {
	background-color: transparent;
	border: 2px solid
}
.wp-block-calendar {
	text-align: center
}
.wp-block-calendar tbody td, .wp-block-calendar th {
	padding: 4px;
	border: 1px solid #e2e4e7
}
.wp-block-calendar tfoot td {
	border: none
}
.wp-block-calendar table {
	width: 100%;
	border-collapse: collapse;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif
}
.wp-block-calendar table th {
	font-weight: 400;
	background: #edeff0
}
.wp-block-calendar a {
	text-decoration: underline
}
.wp-block-calendar tfoot a {
	color: #00739c
}
.wp-block-calendar table caption, .wp-block-calendar table tbody {
	color: #40464d
}
.wp-block-categories.alignleft {
	margin-right: 2em
}
.wp-block-categories.alignright {
	margin-left: 2em
}
.wp-block-columns {
	display: flex;
	margin-bottom: 28px;
	flex-wrap: wrap
}
@media (min-width:782px) {
	.wp-block-columns {
		flex-wrap: nowrap
	}
}
.wp-block-column {
	flex-grow: 1;
	min-width: 0;
	word-break: break-word;
	overflow-wrap: break-word
}
@media (max-width:599px) {
	.wp-block-column {
		flex-basis: 100%!important
	}
}
@media (min-width:600px) {
	.wp-block-column {
		flex-basis: calc(50% - 16px);
		flex-grow: 0
	}
	.wp-block-column:nth-child(2n) {
		margin-left: 32px
	}
}
@media (min-width:782px) {
	.wp-block-column:not(:first-child) {
		margin-left: 32px
	}
}
.wp-block-columns.are-vertically-aligned-top {
	align-items: flex-start
}
.wp-block-columns.are-vertically-aligned-center {
	align-items: center
}
.wp-block-columns.are-vertically-aligned-bottom {
	align-items: flex-end
}
.wp-block-column.is-vertically-aligned-top {
	align-self: flex-start
}
.wp-block-column.is-vertically-aligned-center {
	-ms-grid-row-align: center;
	align-self: center
}
.wp-block-column.is-vertically-aligned-bottom {
	align-self: flex-end
}
.wp-block-cover, .wp-block-cover-image {
	position: relative;
	background-color: #000;
	background-size: cover;
	background-position: 50%;
	min-height: 430px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden
}
.wp-block-cover-image.has-parallax, .wp-block-cover.has-parallax {
	background-attachment: fixed
}
@supports (-webkit-overflow-scrolling:touch) {
	.wp-block-cover-image.has-parallax, .wp-block-cover.has-parallax {
		background-attachment: scroll
	}
}
@media (prefers-reduced-motion:reduce) {
	.wp-block-cover-image.has-parallax, .wp-block-cover.has-parallax {
		background-attachment: scroll
	}
}
.wp-block-cover-image.has-background-dim:before, .wp-block-cover.has-background-dim:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: inherit;
	opacity: .5;
	z-index: 1
}
.wp-block-cover-image.has-background-dim.has-background-dim-10:before, .wp-block-cover.has-background-dim.has-background-dim-10:before {
	opacity: .1
}
.wp-block-cover-image.has-background-dim.has-background-dim-20:before, .wp-block-cover.has-background-dim.has-background-dim-20:before {
	opacity: .2
}
.wp-block-cover-image.has-background-dim.has-background-dim-30:before, .wp-block-cover.has-background-dim.has-background-dim-30:before {
	opacity: .3
}
.wp-block-cover-image.has-background-dim.has-background-dim-40:before, .wp-block-cover.has-background-dim.has-background-dim-40:before {
	opacity: .4
}
.wp-block-cover-image.has-background-dim.has-background-dim-50:before, .wp-block-cover.has-background-dim.has-background-dim-50:before {
	opacity: .5
}
.wp-block-cover-image.has-background-dim.has-background-dim-60:before, .wp-block-cover.has-background-dim.has-background-dim-60:before {
	opacity: .6
}
.wp-block-cover-image.has-background-dim.has-background-dim-70:before, .wp-block-cover.has-background-dim.has-background-dim-70:before {
	opacity: .7
}
.wp-block-cover-image.has-background-dim.has-background-dim-80:before, .wp-block-cover.has-background-dim.has-background-dim-80:before {
	opacity: .8
}
.wp-block-cover-image.has-background-dim.has-background-dim-90:before, .wp-block-cover.has-background-dim.has-background-dim-90:before {
	opacity: .9
}
.wp-block-cover-image.has-background-dim.has-background-dim-100:before, .wp-block-cover.has-background-dim.has-background-dim-100:before {
	opacity: 1
}
.wp-block-cover-image.alignleft, .wp-block-cover-image.alignright, .wp-block-cover.alignleft, .wp-block-cover.alignright {
	max-width: 305px;
	width: 100%
}
.wp-block-cover-image:after, .wp-block-cover:after {
	display: block;
	content: "";
	font-size: 0;
	min-height: inherit
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
	.wp-block-cover-image:after, .wp-block-cover:after {
		content: none
	}
}
.wp-block-cover-image.aligncenter, .wp-block-cover-image.alignleft, .wp-block-cover-image.alignright, .wp-block-cover.aligncenter, .wp-block-cover.alignleft, .wp-block-cover.alignright {
	display: flex
}
.wp-block-cover-image .wp-block-cover__inner-container, .wp-block-cover .wp-block-cover__inner-container {
	width: calc(100% - 70px);
	z-index: 1;
	color: #f8f9f9
}
