.wp-block-audio figcaption {
	margin-top: .5em;
	margin-bottom: 1em
}
.wp-block-audio audio {
	width: 100%;
	min-width: 300px
}
.wp-block-button {
	color: #fff
}
.wp-block-button.aligncenter {
	text-align: center
}
.wp-block-button.alignright {
	text-align: right
}
.wp-block-button__link {
	background-color: #32373c;
	border: none;
	border-radius: 28px;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	margin: 0;
	padding: 12px 24px;
	text-align: center;
	text-decoration: none;
	overflow-wrap: break-word
}
.wp-block-button__link:active, .wp-block-button__link:focus, .wp-block-button__link:hover, .wp-block-button__link:visited {
	color: inherit
}
.is-style-squared .wp-block-button__link {
	border-radius: 0
}
.no-border-radius.wp-block-button__link {
	border-radius: 0!important
}
.is-style-outline {
	color: #32373c
}
.is-style-outline .wp-block-button__link {
	background-color: transparent;
	border: 2px solid
}
.wp-block-calendar {
	text-align: center
}
.wp-block-calendar tbody td, .wp-block-calendar th {
	padding: 4px;
	border: 1px solid #e2e4e7
}
.wp-block-calendar tfoot td {
	border: none
}
.wp-block-calendar table {
	width: 100%;
	border-collapse: collapse;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif
}
.wp-block-calendar table th {
	font-weight: 400;
	background: #edeff0
}
.wp-block-calendar a {
	text-decoration: underline
}
.wp-block-calendar tfoot a {
	color: #00739c
}
.wp-block-calendar table caption, .wp-block-calendar table tbody {
	color: #40464d
}
.wp-block-categories.alignleft {
	margin-right: 2em
}
.wp-block-categories.alignright {
	margin-left: 2em
}
.wp-block-columns {
	display: flex;
	margin-bottom: 28px;
	flex-wrap: wrap
}
@media (min-width:782px) {
	.wp-block-columns {
		flex-wrap: nowrap
	}
}
.wp-block-column {
	flex-grow: 1;
	min-width: 0;
	word-break: break-word;
	overflow-wrap: break-word
}
@media (max-width:599px) {
	.wp-block-column {
		flex-basis: 100%!important
	}
}
@media (min-width:600px) {
	.wp-block-column {
		flex-basis: calc(50% - 16px);
		flex-grow: 0
	}
	.wp-block-column:nth-child(2n) {
		margin-left: 32px
	}
}
@media (min-width:782px) {
	.wp-block-column:not(:first-child) {
		margin-left: 32px
	}
}
.wp-block-columns.are-vertically-aligned-top {
	align-items: flex-start
}
.wp-block-columns.are-vertically-aligned-center {
	align-items: center
}
.wp-block-columns.are-vertically-aligned-bottom {
	align-items: flex-end
}
